<div class="wrapper">
  <div class="product-img">
    <img src="{{project.projectImage1}}" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1 class="card-title">{{project.name}}</h1>
       <h2>gbs</h2>
      <p class="card-text"> {{project.description}}</p>
    </div>
    <div class="product-price-btn">
       <p><span>{{project.sellCost}}</span>$</p>
      <button type="button" (click)="buy(project.name,project.description,project.sellCost)">buy now</button>
    </div>
  </div>
</div>