.test{
  background-image: '../../images/tile_background.png';
 font-family: Arial, sans-serif;
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 80px;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}
.container{
  padding: 20px;
}
.row{
 text-align: center;
}
.card-top {
 position: relative;
 display: flex;
 flex-direction: column;
 min-width: 0;
 word-wrap: break-word;
 background: #fff;
 background-clip: border-box;
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: .25rem;
}

.item img {
 width: 69px;
}
img{

/* padding-left: 10px;*/


 width: 200px;
 height: 5cm;
 height: auto;
 border-radius: 8px;
}

.item {
 margin: 0px 15px;
 text-align: center;
}

.item a:hover {
 color: blue;
}

.card {
/* padding: 20px;
margin: 20px;*/


 background-color: #fff;
 border-radius: 8px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 text-align: center;
 padding: 20px;
 margin: 10px;
 width: 300px;
}


.card img {
 width: 200px;
 height: 200px;
 margin-bottom: 15px;
 transition: 0.3s ease-in-out;
}

.card img:hover {
 transition: 0.3s ease-in-out;
 transform: scale(1.1);
}

.btn-primary{
 /* background-color: #29eaed; */
 background-color: #176bc5;

 
 color: #fff;
 border: none;
 border-radius: 4px;
 padding: 10px 20px;
 font-size: 1rem;
 cursor: pointer;
 margin-top: 10px;
 transition: background-color 0.3s ease;
}

.btn-primary:hover{
 background-color: #29eaed;
}

.product-cost {
 color: #176bc5;
 font-size: 1.5rem;
 font-weight: bold;
 margin-top: 10px;
}

.product-name{
   font-size: 1.25rem;
   margin-top: 10px;

}