<div class="test">
<header>
    <h1>Welcome to HAK (Having All Knowledge)</h1>
    <p>Your ultimate destination for buying and selling old and new college projects, components, and much more!</p>
  </header>
  
  <section class="features">
    <div class="feature">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzwX9gDtcFJDYIVOmeslmxMpeiBhua4qfbrKZy7tEYqg&usqp=CAU&ec=48665701" alt="Project Marketplace">
      <h2>Explore a Vast Project Marketplace</h2>
      <p>Dive into our extensive project marketplace, offering a wide range of projects across various disciplines. Easily search based on your field of study, academic level, or specific requirements, and find the projects that best suit your needs.</p>
    </div>
    <div class="feature">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRDEaivE7QX63027eNZF1ZOxjq2XVN68QubAHVCEZMYw&usqp=CAU&ec=48665701" alt="Buy and Sell Components">
      <h2>Buy and Sell Components</h2>
      <p>Discover a vibrant marketplace for buying and selling components and materials. Connect with sellers offering a diverse range of components, ensuring you have access to the tools and materials required for your assignments.</p>
    </div>
  </section>
</div>
